.row {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

body {
    color: grey;
}

label {
    font-size: 10px;
}

.form-control {
    font-size: 12px;
}

.input-group-addon {
    font-size: 10px;
}